/*Logo*/
.first{
    text-align: center;
    text-decoration: underline;
    width: 100vw;
    margin-top: -8px;
    margin-left: 0;
    z-index: -5;
}
 .first a img {
     width: 476.78px;
     z-index: -5;
 }

a{
    color: black;
}

form{
    display: inline;
    margin: auto;
    text-align: center;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 5em 0 5em;
    border: 1px solid;
}

form h1{
    text-align: center;
    font-size: 2em;
}

form div{
    margin: 5px 0 5px 0;
    padding: 7px 0 7px 0;
}
form input{
    border-radius: 1px solid;
}
