/*Logo*/
.logo{
    height: 10%;
    width: 10%;
    min-width: 136.79px;
    min-height: 110.8px;
}

.title{
    font-size: 80px;
    margin-top: 0;
    width: 100%;
    text-align: center;
    text-decoration: underline;
    width: 100vw;
    margin-top: -8px;
    margin-left: 0;
}

h1 a{
    color: black;
}

table{
    border-collapse: collapse;
    font-size: 1.5em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

td,th{
    border: black 1px solid;
}

/* All Users and Users Titles */
.allusers{
    position: absolute;
    top: 40px;
    font-size: 5em;
    text-decoration: underline;
    margin-top: 0;
    margin-bottom: 0;
}
.users{
    position: absolute;
    top: 40px;
    left: 20px;
    font-size: 5em;
    text-decoration: underline;
    margin-top: 0;
    margin-bottom: 0;
}

/*-----------------------------Navigation Bar----------------------------*/
nav{
    top: 0;
    /* border: 1px solid; */
    display: inline-flex;
    position: absolute;
    top: 3.5em;
    left: 1em;
    width: 100vw;
}

a{
    text-decoration: none;
    color: black;
}

/* Right nav */
nav .rightnav{
    list-style-type: none;
    display: inline-flex;
    position: absolute;
    right: 3%;
    margin-top: 30px;
    border: 1px solid rgb(118, 118, 118);
    padding-left: 20px;
}

nav .rightnav li{
    padding: 5px 10px 5px 0px;
    margin: 5px 12.5px 5px 0px;
 
}

nav .rightnav li a{
    padding: 5px 5px 5px 5px;
    font-size: larger;
    /* border: 1px solid rgb(118, 118, 118);
    border-radius: 1em; */
}


nav .rightnav li a:hover{
    background-color: black;
    border-radius: 1em;
    color: white;
}
